* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #3c3c3c;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Css banner  */

.section-banner {
    width: 100%;
}

.banner-item {
    position: relative;
    padding-top: 20%; /* Chỉnh padding top cho vừa với size ảnh là được */
}

.banner-item__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.banner-item__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Css banner  */


/* Css flex */
.section-flex {
    width: 100%;
}

.game-section {
    display: flex;
    flex-wrap: wrap;
}

.game-item {
    width: calc(33.33% - 15px);
    position: relative;
    padding-top: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.game-item:nth-child(3n) {
    margin-right: 0;
}

.game-item__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.game-item__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Css flex */

/* Css grid */
.game-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.game-item-grid {
    position: relative;
    padding-top: 60%;
}

.game-item-grid__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.game-item-grid__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
/* Css grid */

/* Css Base button */

.base-button {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 0;
    letter-spacing: 0.03em;
    padding: 15px 25px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    color: #fff;
    transition: all 0.4s ease;
    text-transform: uppercase;
}
.base-button:focus, .base-button:active {
    outline: none;
    box-shadow: none;
}
.base-button:before {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: transparent;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    transform: skew(-25deg);
}
.base-button:hover, .base-button:active {
    transition: all 0.4s ease;
}
.base-button:hover:before, .base-button:active:before {
    animation: shine 1s;
}
.base-button--bg-green {
    background-color: #3a8c38;
}
.base-button--bg-red {
    background-color: #eb5757;
}
.base-button--bg-gray {
    background-color: #858585;
}
.base-button--bg-yellow {
    background-color: #f2d161;
}
.base-button--bg-dark {
    background-color: #323232;
}
.base-button--bg-tuatara {
    background: #252422;
}
.base-button--border-radius {
    border-radius: 3px;
}
.base-button--bg-border {
    background-color: transparent;
    border: 1px solid;
}
.base-button--border-green {
    border-color: #3a8c38;
    color: #3a8c38;
}
.base-button--border-red {
    border-color: #eb5757;
    color: #eb5757;
}
.base-button--color-dark {
    color: #403e3a;
}
.base-button--size-lg {
    font-size: 20px;
    line-height: 26px;
    padding: 20px 40px;
}
.base-button--size-sm {
    font-size: 11px;
    line-height: 13px;
    padding: 6px 35px;
}
.base-button--outline {
    border: 1px solid #8c94b2;
    color: #8c94b2;
}
.base-button--disable {
    cursor: not-allowed !important;
    background: #858585 !important;
    opacity: 1;
    color: #e7ecf2;
}
.base-button--disable:before {
    display: none;
}
.base-button--disable-border {
    cursor: not-allowed !important;
    opacity: 1;
}
.base-button--disable-border:before {
    display: none;
}
.base-button--full {
    width: 100%;
}
.base-button--width-lg {
    width: 430px;
}
.base-button--width-md {
    width: 310px;
}
/* Css Base button */

/* Css Flex Advance */

.mini-card-grid {
    padding: 3rem 0 3rem 2rem;
    margin-bottom: 10px;
    display: flex;
    overflow-x: scroll;
    position: relative;
}

/* css scrollbar  */
.mini-card-grid::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.mini-card-grid::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
.mini-card-grid::-webkit-scrollbar-track {
        background: linear-gradient(
    90deg
    ,#434343,#434343 1px,#262626 0,#262626);
}

.mini-card {
    min-width: 300px;
    min-height: 350px;
    box-shadow: -2rem 0 3rem -2rem #000;
    padding: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(
        85deg
        ,#434343,#262626);
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    position: relative;
}

.mini-card:hover {
    transform: translate(-.5rem,-1rem) rotate(3deg);
    cursor: pointer;
}

.mini-card:not(:first-child) {
    margin-left: -130px;
    box-shadow: -3rem 0 3rem -2rem #000;
}

.mini-card time {
    display: block;
    margin: 0 0 .25rem;
    color: #777;
}

.mini-card-title {
    font-size: 1.3rem;
    margin: 0 0 1rem;
}

.mini-card-title a {
    color: #fff;
    text-decoration: none;
}

.tags a {
    font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff7a18;
    font-size: .66rem;
    -webkit-margin-end: .66rem;
    margin-inline-end: .66rem;
    text-decoration: none;
}

.author-row {
    -webkit-margin-before: auto;
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: .5rem;
    align-items: center;
    color: #565656;
    line-height: 1.3;
    padding-top: .5rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .5rem;
}

.author-row a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Css Flex Advance */